<?xml version="1.0" encoding="utf-8"?>
<!-- Główny plik manifestu aplikacji Android. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kaminski.paragownik">

    <!-- Definicja aplikacji. -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paragownik"
        tools:targetApi="31">

        <!-- Aktywność do dodawania nowego klienta z paragonami. -->
        <activity
            android:name=".AddClientActivity"
            android:exported="false" />

        <!-- Aktywność do dodawania paragonów do istniejącego klienta. -->
        <activity
            android:name=".AddReceiptToClientActivity"
            android:exported="false" />

        <!-- Aktywność wyświetlająca listę wszystkich klientów. -->
        <activity
            android:name=".ClientListActivity"
            android:exported="false" />

        <!-- Aktywność wyświetlająca szczegóły klienta i jego paragony. -->
        <activity
            android:name=".ClientReceiptsActivity"
            android:exported="false" />

        <!-- Aktywność wyświetlająca listę paragonów dla wybranej drogerii. -->
        <activity
            android:name=".ReceiptListActivity"
            android:exported="false" />

        <!-- Główna aktywność aplikacji (ekran startowy). -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- Filtr intencji określający, że jest to główny punkt wejścia aplikacji. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Aktywność do edycji paragonu i danych klienta. -->
        <activity android:name=".EditReceiptActivity" />

        <!-- Aktywność do edycji danych klienta. -->
        <activity android:name=".EditClientActivity" />

        <!-- Aktywność wyświetlająca listę wszystkich paragonów. -->
        <activity android:name=".AllReceiptsActivity" />

        <!-- Aktywność do wyświetlania zdjęcia na pełnym ekranie z zoomem. -->
        <activity
            android:name=".FullScreenImageActivity"
            android:theme="@style/Theme.Paragownik.FullScreen"/>

        <!-- Aktywność informacyjna "O Aplikacji". -->
        <activity
            android:name=".AboutActivity"
            android:exported="false" />

    </application>

</manifest>
